In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('census.csv')

In [4]:
df['workclass'].nunique()

9

In [8]:
df['hour-per-month'] = df['hour-per-week']*4

In [9]:
df['hour-per-month']

0        160
1         52
2        160
3        160
4        160
        ...
32556    152
32557    160
32558    160
32559     80
32560    160
Name: hour-per-month, Length: 32561, dtype: int64

In [5]:
df['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [11]:
df.groupby("workclass")["hour-per-month"].mean().sort_values(ascending=False) # atributo categorico, atributo numerico e depois operação (função agregadora)

workclass
Self-emp-inc        195.272401
Self-emp-not-inc    177.687525
Federal-gov         165.516667
Local-gov           163.931199
Private             161.068382
State-gov           156.126348
Without-pay         130.857143
?                   127.677560
Never-worked        113.714286
Name: hour-per-month, dtype: float64

In [13]:
df.groupby("workclass")['hour-per-week'].min().sort_values(ascending=True)

workclass
?                    1
Private              1
Self-emp-inc         1
Self-emp-not-inc     1
State-gov            1
Local-gov            2
Federal-gov          4
Never-worked         4
Without-pay         10
Name: hour-per-week, dtype: int64

In [17]:
df.groupby(["income", "workclass"])["hour-per-week"].mean().round(2).sort_values(ascending=False) # usando 2 variaveis

income  workclass
>50K    Self-emp-inc        50.15
<=50K   Self-emp-inc        47.14
>50K    Self-emp-not-inc    46.69
        Private             45.50
        State-gov           44.19
        Local-gov           43.96
<=50K   Self-emp-not-inc    43.52
>50K    Federal-gov         43.42
<=50K   Federal-gov         40.09
        Local-gov           39.74
        Private             38.80
        State-gov           37.11
>50K    ?                   36.15
<=50K   Without-pay         32.71
        ?                   31.43
        Never-worked        28.43
Name: hour-per-week, dtype: float64

In [19]:
df.groupby(["income", "workclass"])["education-num"].mean().round(2).sort_values(ascending=False)

income  workclass
>50K    State-gov           12.92
        Local-gov           12.15
        Self-emp-inc        11.88
        Federal-gov         11.75
        Self-emp-not-inc    11.55
        Private             11.43
        ?                   11.30
<=50K   State-gov           10.80
        Local-gov           10.58
        Federal-gov         10.48
        Self-emp-inc        10.20
        Self-emp-not-inc     9.70
        Private              9.45
        Without-pay          9.07
        ?                    9.02
        Never-worked         7.43
Name: education-num, dtype: float64

In [51]:
grupo = df.groupby(["income", "workclass"])["hour-per-week"].mean().sort_values(ascending=False)
grupo

income  workclass
>50K    Self-emp-inc        50.154341
<=50K   Self-emp-inc        47.135628
>50K    Self-emp-not-inc    46.691989
        Private             45.500907
        State-gov           44.186969
        Local-gov           43.956240
<=50K   Self-emp-not-inc    43.517336
>50K    Federal-gov         43.420485
<=50K   Federal-gov         40.093379
        Local-gov           39.739837
        Private             38.802290
        State-gov           37.105820
>50K    ?                   36.146597
<=50K   Without-pay         32.714286
        ?                   31.428571
        Never-worked        28.428571
Name: hour-per-week, dtype: float64

In [ ]:
filtro = " <=50K"

In [33]:
grupo.loc[" <=50K"]

workclass
Self-emp-inc        47.135628
Self-emp-not-inc    43.517336
Federal-gov         40.093379
Local-gov           39.739837
Private             38.802290
State-gov           37.105820
Without-pay         32.714286
?                   31.428571
Never-worked        28.428571
Name: hour-per-week, dtype: float64

In [43]:
grupo.loc[" <=50K"][" Federal-gov":" Never-worked"]

workclass
Federal-gov     40.093379
Local-gov       39.739837
Private         38.802290
State-gov       37.105820
Without-pay     32.714286
?               31.428571
Never-worked    28.428571
Name: hour-per-week, dtype: float64

In [56]:
grupo = df.groupby(["income", "workclass"], as_index=False)["hour-per-week"].mean().round(2).sort_index()
grupo

    income          workclass  hour-per-week
0    <=50K                  ?          31.43
1    <=50K        Federal-gov          40.09
2    <=50K          Local-gov          39.74
3    <=50K       Never-worked          28.43
4    <=50K            Private          38.80
5    <=50K       Self-emp-inc          47.14
6    <=50K   Self-emp-not-inc          43.52
7    <=50K          State-gov          37.11
8    <=50K        Without-pay          32.71
9     >50K                  ?          36.15
10    >50K        Federal-gov          43.42
11    >50K          Local-gov          43.96
12    >50K            Private          45.50
13    >50K       Self-emp-inc          50.15
14    >50K   Self-emp-not-inc          46.69
15    >50K          State-gov          44.19

In [67]:
grupo

    income          workclass  hour-per-week
0    <=50K                  ?          31.43
1    <=50K        Federal-gov          40.09
2    <=50K          Local-gov          39.74
3    <=50K       Never-worked          28.43
4    <=50K            Private          38.80
5    <=50K       Self-emp-inc          47.14
6    <=50K   Self-emp-not-inc          43.52
7    <=50K          State-gov          37.11
8    <=50K        Without-pay          32.71
9     >50K                  ?          36.15
10    >50K        Federal-gov          43.42
11    >50K          Local-gov          43.96
12    >50K            Private          45.50
13    >50K       Self-emp-inc          50.15
14    >50K   Self-emp-not-inc          46.69
15    >50K          State-gov          44.19

In [ ]:
grupo.query("workclass == ' Federal-gov'") # ta pegando da tabela acima

    income     workclass  hour-per-week
1    <=50K   Federal-gov          40.09
10    >50K   Federal-gov          43.42