In [13]:
import pandas as pd
import numpy as np
from faker import Faker

In [14]:
dataset = pd.read_csv('census.csv')
dataset

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [15]:
age_series = dataset['age']
age_series

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

In [5]:
age_series.iloc[0]

39

In [ ]:
age_series.iloc[0:4] # similar to string slicing

0    39
1    50
2    38
3    53
Name: age, dtype: int64

In [ ]:
age_series.iloc[[0, 2, 4, 6]] # search for these specified indexes

0    39
2    38
4    28
6    49
Name: age, dtype: int64

In [16]:
listaAbove60 = []
for i in age_series.items():
    if i[1] > 60:
        listaAbove60.append(i[1])
listaAbove60

[79,
 67,
 76,
 61,
 70,
 64,
 71,
 68,
 66,
 64,
 90,
 66,
 75,
 65,
 64,
 61,
 65,
 77,
 62,
 76,
 63,
 66,
 67,
 65,
 62,
 63,
 80,
 67,
 63,
 72,
 62,
 74,
 67,
 72,
 69,
 65,
 65,
 71,
 70,
 66,
 65,
 61,
 61,
 68,
 64,
 64,
 62,
 73,
 72,
 63,
 62,
 61,
 71,
 63,
 63,
 67,
 81,
 64,
 67,
 78,
 63,
 66,
 76,
 66,
 90,
 64,
 61,
 61,
 62,
 68,
 69,
 63,
 61,
 65,
 88,
 65,
 61,
 61,
 63,
 75,
 65,
 62,
 69,
 73,
 67,
 65,
 63,
 61,
 71,
 61,
 62,
 61,
 61,
 65,
 61,
 76,
 70,
 61,
 69,
 64,
 66,
 62,
 69,
 62,
 75,
 72,
 65,
 67,
 61,
 67,
 65,
 71,
 62,
 64,
 73,
 64,
 65,
 71,
 66,
 63,
 73,
 70,
 63,
 61,
 63,
 68,
 68,
 62,
 68,
 65,
 90,
 77,
 66,
 68,
 64,
 75,
 66,
 72,
 63,
 61,
 66,
 63,
 61,
 66,
 61,
 61,
 75,
 66,
 61,
 64,
 63,
 74,
 65,
 64,
 63,
 64,
 63,
 90,
 64,
 62,
 65,
 63,
 62,
 67,
 61,
 74,
 63,
 70,
 66,
 68,
 61,
 61,
 61,
 64,
 69,
 69,
 74,
 75,
 76,
 61,
 70,
 65,
 63,
 67,
 77,
 67,
 74,
 66,
 70,
 62,
 64,
 61,
 78,
 61,
 64,
 72,
 62,
 80,
 61,
 61,
 64,
 61,
 63,
 69,
 71,
 65,
 90,
 64,
 67,
 81,
 63,
 75,
 68,
 75,
 61,
 64,
 62,
 72,
 64,
 61,
 71,
 61,
 69,
 72,
 74,
 65,
 61,
 64,
 64,
 71,
 62,
 82,
 74,
 64,
 73,
 74,
 62,
 76,
 61,
 68,
 63,
 79,
 61,
 61,
 66,
 61,
 63,
 63,
 69,
 62,
 63,
 81,
 67,
 68,
 63,
 74,
 61,
 72,
 61,
 73,
 65,
 63,
 71,
 76,
 63,
 61,
 62,
 75,
 70,
 70,
 64,
 68,
 74,
 80,
 63,
 63,
 66,
 65,
 68,
 62,
 62,
 68,
 61,
 63,
 63,
 62,
 69,
 61,
 72,
 75,
 63,
 62,
 83,
 67,
 64,
 77,
 63,
 64,
 72,
 66,
 90,
 90,
 65,
 65,
 66,
 63,
 66,
 63,
 67,
 66,
 67,
 76,
 64,
 75,
 61,
 68,
 72,
 64,
 64,
 66,
 65,
 64,
 63,
 68,
 63,
 67,
 64,
 64,
 68,
 73,
 64,
 61,
 63,
 67,
 65,
 77,
 66,
 64,
 62,
 61,
 79,
 69,
 62,
 65,
 70,
 76,
 65,
 63,
 66,
 67,
 69,
 81,
 68,
 75,
 63,
 65,
 63,
 76,
 63,
 62,
 68,
 61,
 65,
 62,
 90,
 73,
 67,
 65,
 66,
 61,
 63,
 76,
 76,
 63,
 61,
 63,
 90,
 80,
 77,
 74,
 61,
 90,
 63,
 61,
 63,
 90,
 71,
 74,
 67,
 63,
 61,
 62,
 69,
 62,
 64,
 78,
 66,
 62,
 72,
 76,
 69,
 71,
 63,
 61,
 62,
 61,
 76,
 65,
 78,
 67,
 73,
 66,
 66,
 64,
 62,
 64,
 63,
 73,
 71,
 64,
 62,
 79,
 67,
 65,
 61,
 78,
 61,
 65,
 63,
 64,
 70,
 61,
 79,
 71,
 84,
 66,
 90,
 67,
 63,
 70,
 70,
 77,
 66,
 70,
 75,
 61,
 61,
 64,
 74,
 80,
 62,
 70,
 67,
 66,
 61,
 63,
 63,
 75,
 61,
 61,
 64,
 77,
 66,
 62,
 66,
 90,
 72,
 63,
 61,
 63,
 61,
 75,
 81,
 61,
 63,
 63,
 71,
 67,
 64,
 73,
 68,
 67,
 63,
 73,
 65,
 67,
 62,
 63,
 69,
 69,
 63,
 64,
 63,
 61,
 73,
 64,
 61,
 69,
 68,
 64,
 67,
 65,
 64,
 63,
 63,
 63,
 66,
 64,
 67,
 62,
 68,
 70,
 83,
 66,
 74,
 62,
 71,
 64,
 64,
 61,
 63,
 61,
 65,
 62,
 62,
 65,
 64,
 69,
 70,
 69,
 84,
 68,
 69,
 62,
 62,
 61,
 70,
 68,
 81,
 73,
 62,
 67,
 66,
 64,
 62,
 61,
 67,
 63,
 79,
 68,
 73,
 66,
 65,
 65,
 62,
 76,
 62,
 62,
 73,
 69,
 69,
 64,
 61,
 72,
 61,
 64,
 62,
 61,
 85,
 69,
 65,
 82,
 67,
 78,
 67,
 66,
 72,
 63,
 75,
 66,
 61,
 79,
 64,
 70,
 77,
 62,
 69,
 64,
 62,
 62,
 70,
 65,
 61,
 65,
 80,
 70,
 67,
 62,
 64,
 61,
 90,
 69,
 69,
 66,
 68,
 61,
 64,
 63,
 65,
 73,
 76,
 65,
 90,
 61,
 90,
 63,
 62,
 77,
 74,
 73,
 67,
 68,
 66,
 71,
 68,
 66,
 77,
 70,
 75,
 72,
 72,
 64,
 63,
 69,
 64,
 69,
 62,
 64,
 66,
 62,
 62,
 64,
 84,
 62,
 62,
 63,
 70,
 61,
 61,
 65,
 69,
 65,
 73,
 62,
 63,
 62,
 62,
 64,
 62,
 69,
 64,
 70,
 62,
 62,
 69,
 78,
 61,
 64,
 78,
 61,
 67,
 66,
 67,
 63,
 64,
 67,
 63,
 61,
 61,
 63,
 63,
 68,
 76,
 65,
 64,
 68,
 69,
 73,
 67,
 63,
 67,
 61,
 73,
 67,
 64,
 68,
 70,
 74,
 61,
 61,
 71,
 62,
 61,
 80,
 77,
 65,
 68,
 90,
 74,
 63,
 67,
 69,
 64,
 70,
 62,
 61,
 73,
 65,
 64,
 67,
 63,
 63,
 64,
 65,
 63,
 63,
 74,
 67,
 66,
 90,
 78,
 77,
 70,
 66,
 69,
 62,
 65,
 71,
 71,
 64,
 68,
 77,
 70,
 61,
 76,
 64,
 63,
 76,
 67,
 61,
 65,
 68,
 71,
 74,
 64,
 63,
 72,
 68,
 65,
 66,
 61,
 68,
 72,
 62,
 69,
 79,
 67,
 73,
 65,
 73,
 64,
 62,
 65,
 62,
 66,
 70,
 74,
 66,
 84,
 78,
 70,
 62,
 73,
 67,
 63,
 66,
 65,
 75,
 65,
 73,
 63,
 62,
 61,
 67,
 62,
 69,
 73,
 69,
 76,
 73,
 74,
 90,
 69,
 79,
 63,
 63,
 65,
 62,
 61,
 63,
 64,
 71,
 67,
 68,
 71,
 69,
 64,
 67,
 67,
 62,
 73,
 61,
 90,
 76,
 65,
 69,
 61,
 78,
 61,
 62,
 68,
 67,
 63,
 71,
 76,
 61,
 90,
 65,
 67,
 65,
 70,
 63,
 61,
 61,
 66,
 65,
 67,
 72,
 69,
 64,
 61,
 64,
 65,
 61,
 76,
 75,
 73,
 72,
 68,
 68,
 62,
 63,
 64,
 69,
 61,
 70,
 68,
 71,
 90,
 82,
 63,
 65,
 62,
 64,
 62,
 65,
 65,
 74,
 62,
 63,
 62,
 61,
 70,
 77,
 61,
 63,
 65,
 69,
 63,
 67,
 62,
 64,
 65,
 68,
 64,
 81,
 69,
 61,
 65,
 61,
 67,
 69,
 65,
 67,
 64,
 90,
 76,
 62,
 64,
 84,
 79,
 71,
 63,
 61,
 62,
 77,
 64,
 67,
 66,
 71,
 63,
 65,
 71,
 62,
 66,
 63,
 63,
 78,
 77,
 62,
 69,
 68,
 68,
 65,
 66,
 64,
 65,
 61,
 81,
 64,
 61,
 71,
 63,
 61,
 75,
 66,
 65,
 61,
 75,
 64,
 65,
 63,
 62,
 64,
 74,
 64,
 71,
 68,
 78,
 62,
 62,
 64,
 70,
 63,
 82,
 63,
 72,
 61,
 65,
 64,
 61,
 73,
 66,
 63,
 65,
 72,
 63,
 70,
 72,
 64,
 73,
 66,
 69,
 70,
 81,
 66,
 65,
 77,
 66,
 61,
 76,
 76,
 61,
 71,
 61,
 64,
 68,
 74,
 80,
 69,
 ...]

In [12]:
age_series.iloc[listaAbove60]

79    31
67    53
76    40
61    32
70    19
      ..
66    28
81    52
71    31
72    29
65    36
Name: age, Length: 2332, dtype: int64

In [ ]:
fake = Faker() # istancia pra poder usar metodos desse cara

'Diane Keller'

In [18]:
name_indexes = []
for i in range(32561):
    name_indexes.append(fake.name())

In [21]:
series_name_age = pd.Series(np.array(dataset['age']), index=name_indexes)
series_name_age

Kristina Newman    39
Kelly Vargas       50
Paul Allison       38
Lisa Cox           53
Brittany Cox       28
                   ..
Ronald Brown       27
Mario Davis        40
Sarah Brown        58
Anna Woodard       22
John Bates         52
Length: 32561, dtype: int64

In [ ]:
series_name_age['Kristina Newman']

39

In [23]:
series_name_age.index

Index(['Kristina Newman', 'Kelly Vargas', 'Paul Allison', 'Lisa Cox',
       'Brittany Cox', 'Katie Ellison', 'Cameron Freeman', 'Troy Bell',
       'James Johnson', 'Debbie Haney',
       ...
       'Michael Mack', 'Brian Melendez', 'Lauren Duran', 'William Espinoza',
       'Judy Brown', 'Ronald Brown', 'Mario Davis', 'Sarah Brown',
       'Anna Woodard', 'John Bates'],
      dtype='object', length=32561)

In [ ]:
series_name_age.sort_index(ascending=False) # nome Ã© indice, entÃ£o comeÃ§aria do Z

Zoe Thompson         30
Zoe Gonzalez         67
Zoe Crawford         52
Zoe Clark            42
Zachary Young PhD    33
                     ..
Aaron Bailey         41
Aaron Armstrong      27
Aaron Andrews        46
Aaron Allen          33
Aaron Allen          19
Length: 32561, dtype: int64

In [25]:
series_name_age.sort_index(ascending=True)

Aaron Allen          33
Aaron Allen          19
Aaron Andrews        46
Aaron Armstrong      27
Aaron Bailey         41
                     ..
Zachary Young PhD    33
Zoe Clark            42
Zoe Crawford         52
Zoe Gonzalez         67
Zoe Thompson         30
Length: 32561, dtype: int64

In [ ]:
sr = series_name_age.sort_values(ascending=False).iloc[0:11] # aparentemente esse iloc busca a "chave" ao passo que esses values Ã© relativo a idade, nome = chave, idade = valor 
sr

Phyllis Gentry     90
Shane Wilson       90
Martha Stephens    90
Rachel Peck        90
Anthony Gardner    90
Jennifer Medina    90
Alison White       90
Brandon Brown      90
Michael Murray     90
David Foster       90
Dennis Robinson    90
dtype: int64