In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('AirPassengers.csv')

In [3]:
dataset

       Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]

In [4]:
type(dataset)

pandas.core.frame.DataFrame

In [5]:
dataset

       Month  #Passengers
0    1949-01          112
1    1949-02          118
2    1949-03          132
3    1949-04          129
4    1949-05          121
..       ...          ...
139  1960-08          606
140  1960-09          508
141  1960-10          461
142  1960-11          390
143  1960-12          432

[144 rows x 2 columns]

In [6]:
series_ds = dataset.copy()
series_ds = pd.Series(np.array(series_ds['#Passengers']), index=series_ds['Month'])
series_ds

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
          ...
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
Length: 144, dtype: int64

In [7]:
type(series_ds)

pandas.core.series.Series

In [8]:
series_ds.index

Index(['1949-01', '1949-02', '1949-03', '1949-04', '1949-05', '1949-06',
       '1949-07', '1949-08', '1949-09', '1949-10',
       ...
       '1960-03', '1960-04', '1960-05', '1960-06', '1960-07', '1960-08',
       '1960-09', '1960-10', '1960-11', '1960-12'],
      dtype='object', name='Month', length=144)

In [9]:
series_ds.dtype # dtype(int64) n consegui

dtype('int64')

In [10]:
series_ds.ndim

1

In [11]:
series_ds.count()

144

In [12]:
series_ds[0:5]
series_ds.head(5)

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
dtype: int64

In [13]:
series_ds.tail(5)

Month
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
dtype: int64

In [14]:
series_ds.iloc[0]

112

In [15]:
series_ds[0:4]

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
dtype: int64

In [16]:
series_ds.iloc[-1]

432

In [17]:
series_ds.loc['1960-08']

606

In [18]:
series_ds.tail(5)

Month
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
dtype: int64

In [19]:
series_ds.sort_values()

Month
1949-11    104
1949-01    112
1950-11    114
1950-01    115
1949-02    118
          ...
1960-06    535
1959-07    548
1959-08    559
1960-08    606
1960-07    622
Length: 144, dtype: int64

In [20]:
series_ds["1960-08":"1960-12"]

Month
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
dtype: int64

In [21]:
series_ds.sort_values(ascending=False)

Month
1960-07    622
1960-08    606
1959-08    559
1959-07    548
1960-06    535
          ...
1949-12    118
1950-01    115
1950-11    114
1949-01    112
1949-11    104
Length: 144, dtype: int64

In [22]:
series_ds.sort_values(ascending=True)

Month
1949-11    104
1949-01    112
1950-11    114
1950-01    115
1949-02    118
          ...
1960-06    535
1959-07    548
1959-08    559
1960-08    606
1960-07    622
Length: 144, dtype: int64

In [23]:
series_ds.value_counts()

229    3
306    2
405    2
242    2
196    2
      ..
191    1
209    1
230    1
218    1
432    1
Name: count, Length: 118, dtype: int64

In [24]:
series_ds.loc[series_ds > 300]

Month
1954-07    302
1955-06    315
1955-07    364
1955-08    347
1955-09    312
          ...
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
Length: 62, dtype: int64

In [25]:
series_ds.loc[series_ds > 300].head(1)

Month
1954-07    302
dtype: int64

In [26]:
# Menores do que 1950-08 (N CONSEGUI)

In [27]:
series_ds.loc[series_ds.index < "1950-08"]

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
1949-06    135
1949-07    148
1949-08    148
1949-09    136
1949-10    119
1949-11    104
1949-12    118
1950-01    115
1950-02    126
1950-03    141
1950-04    135
1950-05    125
1950-06    149
1950-07    170
dtype: int64

In [28]:
# Entre 1949-01 e 1950-01
series_ds["1949-02":"1949-12"]
series_ds.loc[(series_ds.index > "1949-01") & (series_ds.index < "1950-01")]

Month
1949-02    118
1949-03    132
1949-04    129
1949-05    121
1949-06    135
1949-07    148
1949-08    148
1949-09    136
1949-10    119
1949-11    104
1949-12    118
dtype: int64

In [29]:
series_ds.sum()

40363

In [30]:
series_ds.mean()

280.2986111111111

In [31]:
series_ds.min()

104

In [32]:
series_ds.max()

622

In [33]:
series_ds["1949-01":"1949-12"].sum() # Somatório do intervalo 1949-01 e 1949-12

1520

In [34]:
series_ds.index.unique

<bound method Index.unique of Index(['1949-01', '1949-02', '1949-03', '1949-04', '1949-05', '1949-06',
       '1949-07', '1949-08', '1949-09', '1949-10',
       ...
       '1960-03', '1960-04', '1960-05', '1960-06', '1960-07', '1960-08',
       '1960-09', '1960-10', '1960-11', '1960-12'],
      dtype='object', name='Month', length=144)>

In [35]:
series_ds.isna().sum()

0

In [36]:
series_ds

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
          ...
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
Length: 144, dtype: int64

In [37]:
series_ds_month = pd.to_datetime(series_ds.index, format='%Y-%m')

In [38]:
series_ds_month.dtype

dtype('<M8[ns]')

In [39]:
series_ds_month

DatetimeIndex(['1949-01-01', '1949-02-01', '1949-03-01', '1949-04-01',
               '1949-05-01', '1949-06-01', '1949-07-01', '1949-08-01',
               '1949-09-01', '1949-10-01',
               ...
               '1960-03-01', '1960-04-01', '1960-05-01', '1960-06-01',
               '1960-07-01', '1960-08-01', '1960-09-01', '1960-10-01',
               '1960-11-01', '1960-12-01'],
              dtype='datetime64[ns]', name='Month', length=144, freq=None)

In [40]:
series_ds_month.month

Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10,
       ...
        3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
      dtype='int32', name='Month', length=144)

In [41]:
series_ds_month.year

Index([1949, 1949, 1949, 1949, 1949, 1949, 1949, 1949, 1949, 1949,
       ...
       1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960],
      dtype='int32', name='Month', length=144)

In [42]:
series_ds[series_ds_month.month == 7].sum()

4216

In [43]:
series_ds[series_ds_month.year == 1950].sum()

1676

In [45]:
series_ds

Month
1949-01    112
1949-02    118
1949-03    132
1949-04    129
1949-05    121
          ...
1960-08    606
1960-09    508
1960-10    461
1960-11    390
1960-12    432
Length: 144, dtype: int64